.rsInputPhone {
	input {
	}
}
.rsInputPhone {
	.inputContainer {
		border-radius: 20px;
		background: #3c3c3c;
		border: 2px solid #449fdb;
		padding: 4px 8px;

		.rsIcon {
			color: lightgrey;
		}

		input {
			color: lightgrey;
		}
	}
	.helperText {
	}

	.rsInputErrorMessage {
	}
}
