.rsChip {
	position: relative;
	color: #fff;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 16px;
	height: 32px;
	padding: 0 12px;
	background-color: #616161;
	width: fit-content;
	transition: filter 300ms;
	cursor: default;
	overflow: hidden;
	z-index: auto;

	&.outlined {
		border: 1px solid rgba(255, 255, 255, 0.23);
		background-color: transparent;
		&:hover {
			background-color: #323232;
		}
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.onClick {
		&:hover {
			cursor: pointer !important;
			filter: brightness(1.2);
		}
	}

	.label {
		&.mr {
			padding-right: 12px;
		}

		&.ml {
			padding-left: 12px;
		}
	}

	.deleteBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 22px;
		height: 22px;
		background-color: #8a8a8a;
		border-radius: 50%;
	}

	.chip-x {
		margin-right: -7px;
		&:hover {
			color: black !important;
			cursor: pointer !important;
		}
	}

	> .ripple {
		position: absolute;
		background: #fff;
		transform: translate(-50%, -50%);
		pointer-events: none;
		border-radius: 50%;
		animation: ripples 0.6s linear infinite;
	}
	@keyframes ripples {
		0% {
			width: 0;
			height: 0;
			opacity: 0.5;
		}
		100% {
			width: 500px;
			height: 500px;
			opacity: 0;
		}
	}
}
